@charset "utf-8";
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}
body {
  position: relative;
  margin: 0 auto;
  padding: 8rem 0 0;
  width: 100%;
  height: auto;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic,
    'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

h2 {
  color: #444;
  width: auto;
  text-align: center;
  margin: auto;
  font-size: 4rem;
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
    padding: 2rem;
  }
}

h3 {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 2.5rem;
    margin: 1.5rem auto;
  }
}
h4 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.1px #ddd;
  background-color: #fff;
  animation: headerin 0.3s ease 1s forwards;
  align-content: center;
}

@media screen and (max-width: 768px) {
  header {
    position: absolute;
  }
}

@keyframes headerin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

header a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s;
}

.header-logo {
  display: flex;
  align-items: center;
}

header a:hover {
  color: #777;
}
.title-logo {
  height: 5rem;
  width: auto;
  margin: 1rem;
  margin-left: 3rem;
}

@media screen and (max-width: 768px) {
  .title-logo {
    margin-left: 1rem;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  margin: 0;
}

.header-menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .header-menu ul {
    display: none;
  }
}

.header-menu li {
  margin-right: 2.5rem;
  transition: transform 0.2s;
}

.header-menu li:hover {
  transform: scale(1.03);
}
.header-entry {
  font-size: 1.5rem;
  color: #fff;
  align-items: center;
  padding: 1rem 2.8rem;
  margin-right: 2rem;
  background-color: #ff7811;
  border-radius: 8rem;
  transition: background-color 0.2s;
}

@media screen and (max-width: 768px) {
  .header-entry {
    margin-right: 1rem;
  }
}

.header-entry:hover {
  background-color: #f93;
  color: #fff;
}

.top-page {
  display: flex;
  background-image: url('./assets/top-page-image.jpg');
  background-position: center center;
  width: 100%;
  margin: auto;
  background-size: cover;
  align-items: center;
}

.bg-color {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  margin: auto;
  height: auto;
  transition: background-color 0.2s;
}

.bg-color:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.top-page-text {
  display: flex;
  color: #222;
  font-size: 7rem;
  margin-left: 5rem;
  padding: 10rem 0;
}

@media screen and (max-width: 768px) {
  .top-page-text {
    font-size: 4rem;
    padding: 1rem 0;
  }
}

.mid-text {
  color: #444;
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: center;
  margin: 2rem auto;
}

.mid-suggest {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 1rem;
  width: 60%;
}

@media screen and (max-width: 768px) {
  .mid-suggest {
    font-size: 1.5rem;
    width: 25rem;
    margin: 2rem auto;
  }
}

.mid-entry {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  color: #ffffff;
  background-color: #ff7811;
  border-radius: 8rem;
  margin: 5rem auto;
  width: 30rem;
  height: 7rem;
  transition: background-color 0.2s;
}

@media screen and (max-width: 768px) {
  .mid-entry {
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    border-radius: 5rem;
    width: 24rem;
    height: 5rem;
  }
}

.mid-entry:hover {
  background-color: #ff9933;
}
.entry-firstonly {
  font-size: 10%;
  color: #444444;
  background-color: #ffffff;
  border-radius: 4.5rem;
  width: auto;
  padding: 0 1.5rem;
  margin: 0.3rem 0;
}

.entry-text {
  font-size: 2.5rem;
  text-align: center;
  padding: 0.2rem 2rem;
  margin: 0 auto;
  transition: font-size 0.2s;
}

@media screen and (max-width: 768px) {
  .entry-text {
    font-size: 2.2rem;
    padding: 0;
  }
}

.entry-text:hover {
  font-size: 2.7rem;
}
.blue-background {
  background-size: cover;
  background-color: #cbedf8;
  padding: 1rem 0;
}
@media screen and (max-width: 768px) {
  .blue-background {
    padding: 1rem 0 3rem;
  }
}

.vtuber-stand {
  height: 70rem;
  margin: 0 3rem;
  transition: transform 0.3s;
}

@media screen and (max-width: 768px) {
  .vtuber-stand {
    height: 40rem;
    margin: auto;
    padding-left: 4rem;
  }
}

.vtuber-stand:hover {
  transform: scale(1.05);
}

.teachers-block {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

@media screen and (max-width: 768px) {
  .teachers-block {
    display: flex;
    flex-direction: column;
  }
}

.teachers-block a {
  display: flex;
  align-items: center;
}
.teachers-textbox {
  color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teachers-maintext {
  font-size: 2rem;
  text-align: center;
  height: auto;
  margin: 10rem auto;
  width: 50rem;
}

@media screen and (max-width: 768px) {
  .teachers-maintext {
    font-size: 1.7rem;
    width: 30rem;
    margin: 2rem auto;
  }
}
.teachers-image-front {
  display: none;
}

@media screen and (max-width: 768px) {
  .teachers-image-front {
    display: flex;
  }
}
.teachers-image-back {
  display: flex;
}

@media screen and (max-width: 768px) {
  .teachers-image-back {
    display: none;
  }
}

.twitter-logo {
  width: 7rem;
  height: auto;
}

@media screen and (max-width: 768px) {
  .twitter-logo {
    width: 4rem;
  }
}

.twitter-logo.footer {
  width: 2.5rem;
  height: auto;
}

.mentering-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menteringFlow {
  height: 40rem;
  width: auto;
  margin: 2rem auto 4rem;
}

@media screen and (max-width: 768px) {
  .menteringFlow {
    height: 30rem;
    margin: 1rem auto 1.5rem;
  }
}

.feeplan {
  width: 100%;
  height: auto;
  margin: auto;
}

.feeplan-text {
  color: #444;
  text-align: center;
  width: 70%;
  margin: 5rem auto 0;
  font-size: 2rem;
}

.feeplan-sheet {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 3rem auto;
}

@media screen and (max-width: 768px) {
  .feeplan-sheet {
    display: block;
    width: 100%;
  }
}

.coma-1 {
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .coma-1 {
    font-size: 2rem;
    padding: 0;
  }
}
.feeplan-sheet li {
  background-color: #fff;
  text-align: center;
}

.feeplan-sheet h4 {
  color: #444;
  display: flex;
  color: #fff;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #47bff7;
  padding: 1rem 0;
  margin: auto;
}

.tax-out {
  color: #444;
  font-size: 1.2rem;
  margin: 0 auto;
}
.price-mid {
  color: #ff9933;
}
@media screen and (max-width: 768px) {
  .price-mid {
    font-size: 4rem;
    padding: 2rem 0 0 0;
  }
}
.price-low {
  font-size: 5rem;
  color: #ff1111;
}
@media screen and (max-width: 768px) {
  .price-low {
    padding: 2rem 0 0 0;
  }
}

.user-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: auto;
}

@media screen and (max-width: 768px) {
  .user-list {
    flex-direction: column;
  }
}

.user-list-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  margin: 4rem;
  height: auto;
}
@media screen and (max-width: 768px) {
  .user-list-block {
    margin: 1.5rem;
  }
}
.user-name {
  font-size: 2rem;
  margin: 2rem;
}
.user-list-text {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 2rem 2rem 2rem;
}

@media screen and (max-width: 768px) {
  .user-list-text {
    font-size: 1.8rem;
  }
}

.user-list-image {
  width: 100%;
  height: auto;
}

.teacher-entry {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  align-items: center;
  color: #ffffff;
  background-color: #19f;
  border-radius: 8rem;
  margin: 4rem auto 4rem;
  width: 28rem;
  height: 6rem;
  transition: background-color 0.2s;
}

.teacher-entry p {
  font-size: 2rem;
  transition: font-size 0.1s;
  margin: auto 0;
  padding: 2rem auto;
}

.teacher-entry p:hover {
  font-size: 2.2rem;
}

.teacher-entry:hover {
  background-color: #3bf;
}

/*  */

.splash {
  position: fixed; /* 重要 */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
  animation: fadeout 0.6s ease 1s forwards; /* 重要 */
}

.splash-logo {
  display: block;
  width: 70%;
  animation: fadein 1s ease; /* 重要 */
}

@keyframes fadein {
  /* 重要 */
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  /* 重要 */
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: -100;
    display: none;
  }
}

/* formシート */
.form-main {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 0;
  width: 100%;
  height: 130rem;
}

@media screen and (max-width: 768px) {
  .form-main {
    margin: 0;
  }
}
.container.form {
  animation: fadeIn 0.7s ease 0s 1 normal;
  -webkit-animation: fadeIn 0.5s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 特定商取引法に基づく表記 */

.transaction {
  display: flex;
  margin: 5rem;
  text-align: center;
  justify-content: center;
}
.transaciton-rule {
  border: solid 1px #ddd;
  flex-direction: column;
  list-style: none;
  padding: 1rem;
  width: 100%;
  text-align: left;
}

.transaciton-rule.name {
  width: 30%;
  background-color: #eee;
}

.transaciton-rule li {
  display: flex;
  height: 8.5rem;
  align-items: center;
}

/* フッター */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 30rem;
  justify-content: center;
  background-color: #eff;
  border-top: none;
  animation: footerin 0.3s ease 1s forwards;
  z-index: -100;
  opacity: 0;
  align-content: center;
}
@keyframes footerin {
  0% {
    z-index: -100;
    opacity: 0;
  }
  100% {
    z-index: 100;
    opacity: 1;
  }
}

footer div {
  display: flex;
  align-items: center;
}
.footer-twitter {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul {
  display: flex;
  list-style: none;
}
@media screen and (max-width: 768px) {
  footer ul {
    padding: 1rem;
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
}
.footer-body li + li {
  border-left: solid 0.2px #999;
}

.footer-list a {
  font-size: 1.3rem;
  width: auto;
  text-decoration: none;
  padding: 0 2rem;
  color: #444;
}

@media screen and (max-width: 768px) {
  .footer-list a {
    font-size: 1.2rem;
    padding: 0;
  }
}

.footer-buttons {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 0.9rem; */
  width: auto;
  height: auto;
}

.footer-twitter {
  display: flex;
  align-items: center;
  width: 4rem;
  margin: 1.5rem;
}

@media screen and (max-width: 768px) {
  .footer-twitter {
    width: 3rem;
  }
}
.footer-logo {
  display: flex;
  align-items: center;
  height: 7rem;
  width: auto;
  margin: 0;
}

.copy-write {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  text-align: center;
  display: flex;
  margin: 0.5rem;
  width: auto;
}

.footer-frame {
  position: relative;
  width: 100%;
  height: 30rem;
  border: none;
}

.footer-frame iframe {
  position: absolute;
  width: 100%;
  border: none;
}

.footer-body {
  width: 100%;
  height: 0;
  padding: 0;
  margin: 0;
}

.back-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  background-color: #3bf;
  border-radius: 8rem;
  width: 20rem;
  padding: 1rem 2rem;
  margin: 0 auto 50px;
}

.hq-frame {
  width: 100%;
  height: 120rem;
  border-top: none;
}
